apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: mlops-platform
  labels:
    app: api
spec:
  selector:
    app: api
  ports:
  - port: 5000
    targetPort: 5000
    name: http
  type: NodePort