apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: mlops-platform
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
      
      - job_name: 'mlflow-api'
        metrics_path: /metrics
        static_configs:
          - targets: ['api-service:5000']
        scrape_interval: 10s